@charset "UTF-8";body,
html {
  height: 100%;
  font-size: 13px;
  line-height: 1.6;
  color: #333;
}

article, aside, dialog, figure, footer, header,
hgroup, nav, section {
  display: block;
}

a {
  color: #005897;
}
a:hover {
  color: #004677;
}

/*
    CSS Reset by ajk (http://ajk.im/)
    Based on http://necolas.github.com/normalize.css/
*/
html, body, div,
span, object, iframe,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
abbr, address, cite, code, del, dfn, em, ins, kbd, q, samp, small, strong, sub, sup, var, b, i,
article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

/* HTML5 */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, dialog {
  display: block;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

html {
  font-size: 100%;
  overflow-y: scroll
  /* Force scrollbars 100% of the time */
}

html, body {
  min-height: 100%;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

img::-moz-selection {
  background: transparent;
}

img::selection {
  background: transparent;
}

pre {
  white-space: pre;
  /* ? */
  white-space: pre-wrap;
  /* CSS3 browsers  */
  white-space: -moz-pre-wrap !important;
  /* 1999+ Mozilla  */
  white-space: -pre-wrap;
  /* Opera 4 thru 6 */
  white-space: -o-pre-wrap;
  /* Opera 7 and up */
  word-wrap: break-word;
  /* IE 5.5+ and up */
  -ms-word-break: normal;
  word-break: normal;
  word-break: normal
  /* old webkit */
}

pre, code, kbd, samp {
  font: 1em/1.625em Menlo, Consolas, 'DejaVu Sans Mono', Monaco, 'Courier New', Courier, monospace;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

legend {
  border: 0;
  *margin-left: -7px;
}

button, input, select, textarea {
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input {
  line-height: normal;
  *overflow: visible;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* Ensures hidden content is hidden from all presentations, including screenreaders */
[hidden] {
  display: none;
  visibility: hidden;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7 */
table button, table input {
  *overflow: auto;
}

ul, ol {
  padding: 0 0 0 1.4em;
}

dl dd {
  margin-left: 1.625em;
}

img, object, video {
  max-width: 100%
  /* Automatically scales images larger than the container. Consider this first: http://unstoppablerobotninja.com/entry/fluid-images/ */
  /* _width: 100%; /* IE6 doesn't support max-width, so we just use width. If the image is larger than the container, just uncomment this. If it is smaller than the container, uncomment and change the 100% value to an absolute one */
}

img {
  -ms-interpolation-mode: bicubic
  /* Improve IE's resizing of images: css-tricks.com/ie-fix-bicubic-scaling-for-images */
}

/* Corrects overflow displayed oddly in IE9 */
svg:not(:root) {
  overflow: hidden;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

mark {
  background: #ff0;
}

ins {
  text-decoration: none;
  background: #ff9;
}

del {
  text-decoration: line-through;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-bottom: 1px solid #ddd;
}

strong, b, dt {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

var, address {
  font-style: normal;
}

/* Position 'sub' and 'sup' without affecting line-height: gist.github.com/413930 */
sub, sup {
  font-size: 0.625em;
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
code[class*="language-"],
pre[class*="language-"] {
  color: black;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  -moz-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}
/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #999;
}

.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number {
  color: #905;
}

.token.selector,
.token.attr-name,
.token.string {
  color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}

.token.regex,
.token.important {
  color: #e90;
}

.token.important {
  font-weight: bold;
}

.token.entity {
  cursor: help;
}

/* Base */
body {
  background: #eee;
  padding-top: 4.5em;
}

.dgl-wrapper {
  margin: 0 auto;
  max-width: 62.5em;
  padding: 0 10px;
  position: relative;
}
@media screen and (min-width: 800px) {
  .dgl-wrapper {
    max-width: 800px;
  }
}
@media screen and (min-width: 62.5em) {
  .dgl-wrapper {
    max-width: 1020px;
  }
}

.clearfix, .dgl-row {
  *zoom: 1;
}
.clearfix:before, .dgl-row:before, .clearfix:after, .dgl-row:after {
  content: "";
  display: table;
}
.clearfix:after, .dgl-row:after {
  clear: both;
}

/* Typography */
h1 {
  font-size: 2.25em;
  margin-bottom: 0.66667em;
}

h2 {
  border-bottom: 1px solid #e1e1e1;
  font-size: 1.5em;
  margin-bottom: 1em;
}

h3  {
  font-size: 1.25em;
  margin-bottom: 1.2em;
}

/* Header */
.dgl-header {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNlM2UzZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzJlMmUyZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3e3e3e), color-stop(100%, #2e2e2e));
  background: -webkit-linear-gradient(top, #3e3e3e, #2e2e2e);
  background: -webkit-gradient(linear, left top, left bottom, from(#3e3e3e), to(#2e2e2e));
  background: linear-gradient(to bottom, #3e3e3e, #2e2e2e);
  color: #fff;
  padding: 0.75em;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 15;
}

.dgl-logo {
  float: left;
}

.dgl-nav ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.dgl-nav li {
  display: inline;
  margin-right: 0.75em;
}
.dgl-nav a {
  color: #999999;
  display: inline-block;
  text-decoration: none;
}
.dgl-nav a.selected, .dgl-nav a:hover {
  color: #fff;
}

/* Main */
.dgl-row {
  position: relative;
}

.dgl-main {
  background: #fff;
  padding: 1.5em;
}
@media screen and (min-width: 800px) {
  .dgl-main {
    float: right;
    width: 70%;
  }
}
.dgl-main > p, .dgl-main > ul, .dgl-main > ol {
  margin-bottom: 1.5em;
}

.dgl-main, .dgl-sidebar {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

/* Side panel */
.dgl-sidebar {
  margin-bottom: 1.5em;
}
@media screen and (min-width: 800px) {
  .dgl-sidebar {
    float: left;
    position: fixed;
    width: 12.5em;
  }
}
@media screen and (min-width: 62.5em) {
  .dgl-sidebar {
    width: 13.75em;
  }
}
.dgl-sidebar ul {
  background-color: #fff;
  padding: 0;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}
.dgl-sidebar li {
  line-height: 1.25em;
  list-style: none;
}
.dgl-sidebar a {
  border: 1px solid #e5e5e5;
  color: #17c;
  display: block;
  margin-bottom: -1px;
  padding: 0.5em 0.875em;
  text-decoration: none;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Page content */
.dgl-main > p > img {
  background: #fff;
  border: 1px solid #f1f1f1;
  padding: 0.75em;
  -webkit-box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Styleguide block */
.styleguide-example {
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #ddd;
  margin: 15px 0;
}
.styleguide-example > h3 {
  background: #333;
  border-top: 1px solid #000;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  margin: 0;
  padding: 5px;
}
.styleguide-example > h3 em {
  float: right;
  text-transform: none;
  font-style: normal;
  font-weight: normal;
  color: #999;
}
.styleguide-example .styleguide-description {
  background: #f1f1f1;
  border-bottom: 1px solid #ddd;
  padding: 0.75em;
}
.styleguide-example .styleguide-description p:first-child {
  margin-top: 0;
}
.styleguide-example .styleguide-description p:last-child {
  margin-bottom: 0;
}
.styleguide-example .styleguide-element {
  position: relative;
  padding: 0.75em;
}
.styleguide-example .styleguide-element + .styleguide-element {
  border-top: 1px solid #eee;
  margin-top: 0.125em;
  padding-top: 0.625em;
}

.styleguide-example .styleguide-element .styleguide-modifier-name {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 8px;
  font-size: 11px;
  color: #999;
  background: #f9f9f9;
  border: 1px solid #eee;
  border-top: none;
  z-index: 1;
}

.styleguide-html {
  border-top: 1px solid #dde7ea;
  overflow: auto;
}
.styleguide-html pre {
  margin: 0;
  font-size: 0.875em;
  line-height: 1.09375em;
}

.styleguide-example ul.styleguide-modifiers {
  margin: 0 0 0 10px;
}

.styleguide-example ul.styleguide-modifiers li {
  list-style-type: none;
  margin-left: 0;
}

.styleguide-example ul.styleguide-modifiers li strong {
  font-family: Monaco, monospace;
  font-size: 12px;
  font-weight: normal;
  color: #222;
}
.wrapper {
  min-height: 100%;
  margin-bottom: -101px;
  padding-bottom: 51px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.content {
  width: 800px;
  margin-right: auto;
  margin-left: auto;
}

/* header
   ========================================================================== */
.header {
  padding-top: 10px;
  padding-bottom: 8px;
  border-bottom: 1px solid #6c6c6c;
}
.header:after {
  content: "";
  display: table;
  clear: both;
}
.header ._logo {
  float: left;
  width: 180px;
  height: 0;
  padding-top: 30px;
  background: url(../img/logo.png) 0 0 no-repeat;
  overflow: hidden;
}
.header ._userAction {
  overflow: hidden;
  text-align: right;
}

/* footer
   ========================================================================== */
.footer {
  margin-top: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #6c6c6c;
}
.footer:after {
  content: "";
  display: table;
  clear: both;
}
.footer ._logo {
  float: left;
  width: 120px;
  height: 0;
  padding-top: 30px;
  background: url(../img/logo.png) 0 0 no-repeat;
  overflow: hidden;
}
.footer ._menu {
  overflow: hidden;
  text-align: right;
}

.footerMenu {
  letter-spacing: -.4em;
}
.footerMenu li {
  display: inline-block;
  padding-top: 9px;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 11px;
  letter-spacing: normal;
}
.footerMenu li + li:before {
  position: relative;
  left: -15px;
  color: #999;
  content: "|";
}
.footerMenu li:last-of-type {
  padding-right: 0;
}

/* menu
   ========================================================================== */
.pageMenu {
  height: 35px;
}
.pageMenu ul {
  padding: 0;
  list-style: none;
}
.pageMenu a {
  display: block;
  color: inherit;
  text-decoration: none;
}
.pageMenu > ._primary {
  display: table;
  position: relative;
  width: 100%;
  z-index: 10;
  table-layout: fixed;
}
.pageMenu > ._primary > li {
  display: table-cell;
  position: relative;
  padding-top: 10px;
  padding-bottom: 8px;
  border-right: none;
  border-bottom: 1px solid #ccc;
  border-left: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: bold;
  text-align: center;
}
.pageMenu > ._primary > li:hover {
  border-bottom: 2px solid #005897;
  color: #005897;
}
.pageMenu > ._primary > li:hover ._secondly {
  display: block;
}
.pageMenu > ._primary > li:before, .pageMenu > ._primary > li:after {
  display: block;
  position: absolute;
  bottom: 0;
  width: 0;
  height: 9px;
  border-left: 1px solid #ccc;
  content: "";
}
.pageMenu > ._primary > li:before {
  left: 0;
}
.pageMenu > ._primary > li:after {
  right: 0;
}
.pageMenu > ._primary > li + li:before {
  display: none;
}
.pageMenu ._secondly {
  display: none;
  position: absolute;
  top: 100%;
  margin-top: 2px;
  margin-left: -1px;
  padding-right: 1px;
  width: 100%;
}
.pageMenu ._secondly li {
  display: block;
  position: relative;
  margin-right: -1px;
  padding: 9px 13px;
  border-right: 1px solid #ccc;
  border-bottom: 1px dotted #ccc;
  border-left: 1px solid #ccc;
  background-color: #FFF;
  color: #333;
  font-weight: normal;
  text-align: left;
}
.pageMenu ._secondly li:after {
  position: absolute;
  top: 50%;
  right: 13px;
  margin-top: -3.5px;
  background-image: url(../img/subs_parts.png);
  background-position: 0px 0px;
  width: 10px;
  height: 7px;
  content: "";
}
.pageMenu ._secondly li:hover {
  color: #005897;
}
.pageMenu ._secondly li:hover:after {
  background-position: 0px -17px;
}
.pageMenu ._secondly li a {
  margin: -9px -13px;
  padding: 9px 13px;
}
.pageMenu ._secondly li:last-of-type {
  border-bottom: 1px solid #ccc;
}

/* flow
   ========================================================================== */
.pageFlow {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}
.pageFlow ul {
  padding: 0;
  letter-spacing: -.4em;
  list-style: none;
}
.pageFlow li {
  display: inline-block;
  width: 150px;
  height: 35px;
  border-radius: 5px;
  background-color: #eeeeee;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAjCAAAAABqJt/mAAAAYUlEQVR4AVXHRwKAIBAEQf//2CGYQXa89tatttewlY9TC05Hmp40zbQanPY03WkaaWVx6mm60jTSyuLUgtOZdnA1uGnsNtaNlcUNY6exFtxn7DG2G6vBTWOXsW6sLO5F/AMmLLYxMKi1TAAAAABJRU5ErkJggg==);
  background-repeat: no-repeat;
  background-position: 100% 50%;
  color: #999;
  font-size: 14px;
  letter-spacing: normal;
  line-height: 35px;
}
.pageFlow li + li {
  margin-left: 5px;
}
.pageFlow li.-here {
  background-color: #e3ca1f;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAjCAMAAAB4k3AIAAAAYFBMVEXkyyT8+eX59NDlzSvt3Gzq2Fnp1Uzw4oXx5ZLn0TvlzjH17Kz277njyh/////9/PL+/ff9++3+/vr//vz48cXu33b58837+N/69tnz6aDn0kHo00Tv4Hvz6J338cLs2mRiESinAAAAbElEQVR4AVXHRwKCABAEwUVymCGpYP7/L7321q1iNEScnJ4zpypNn7S4c+pXTvXOqUuLL6eh4FRvnNo0TWnlwalZON3SKq6fsbgY64zVOzYUxiZjb2OvBYvT2MPYz9iwYnE11hprNqw8jI2I/7zHF80KtcUFAAAAAElFTkSuQmCC);
  color: #333;
  font-weight: bold;
}
.pageFlow li:last-of-type {
  background-image: none;
}
.button, .button2, .button3 {
  display: block;
  width: 200px;
  padding: 0;
  border-radius: 3px;
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 14px;
  line-height: 3.14286;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}
.-sizeL.button, .-sizeL.button2, .-sizeL.button3 {
  width: 320px;
}
.-sizeS.button, .-sizeS.button2, .-sizeS.button3 {
  width: 120px;
  font-size: 13px;
  line-height: 2.4;
}
.-sizeFull.button, .-sizeFull.button2, .-sizeFull.button3 {
  width: 100%;
}

/* Button
   ========================================================================== */
.button {
  background: #005897;
  color: #fff;
}
.button:hover, .button:active {
  background: #004678;
  color: #B3C8D6;
}
.button.-login {
  display: inline-block;
  width: auto;
  margin-bottom: 0;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 13px;
  font-weight: normal;
  line-height: 2.4;
}

.button2 {
  background: #92a2ad;
  color: #fff;
}
.button2:hover, .button2:active {
  background: #6a8090;
  color: #d3d9de;
}

.button3 {
  background: #eeeeee;
  color: #333;
  font-size: 12px;
  line-height: 2.5;
}
.button3:hover, .button3:active {
  background: #dfdfdf;
  color: #333;
}

.button4 {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 1px solid #b3c9d9;
  border-radius: 50px  50px;
  background: #dfedf7;
  color: #005897;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 1px #fff;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}
.button4:hover, .button4:active {
  background: #c7dff1;
  color: #005897;
}

/* Button layout
   ========================================================================== */
.buttonArea {
  margin-top: 55px;
  margin-bottom: 55px;
  text-align: center;
}
.buttonArea .button,
.buttonArea .button2 {
  margin-right: auto;
  margin-left: auto;
}
.buttonArea.-aligned {
  margin-left: -40px;
  letter-spacing: -.4em;
}
.buttonArea.-aligned .button,
.buttonArea.-aligned .button2 {
  display: inline-block;
  margin-left: 40px;
  letter-spacing: normal;
}
.buttonArea form {
  display: inline;
}

.buttonAreaHasText {
  display: table;
  width: 100%;
  direction: rtl;
}
.buttonAreaHasText ._text {
  display: table-cell;
  direction: ltr;
  word-break: break-all;
  overflow: hidden;
}
.buttonAreaHasText ._button {
  display: table-cell;
  width: 200px;
  padding-left: 30px;
  vertical-align: middle;
}
.buttonAreaHasText.-buttonSizeS ._button {
  width: 120px;
}
.buttonAreaHasText.-buttonSizeL ._button {
  width: 320px;
}
.buttonAreaHasText.-reverse {
  direction: ltr;
}
.buttonAreaHasText.-reverse ._button {
  padding-left: 0;
  padding-right: 30px;
}
.dialog {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 800px;
  height: 230px;
  margin: auto;
  background: rgba(0, 0, 0, 0.85);
  color: #FFF;
  z-index: 10;
}
.dialog > ._close {
  position: absolute;
  top: 25px;
  right: 30px;
  width: 40px;
  height: 56px;
  background: url(../img/close.png);
  cursor: pointer;
}
.dialog > ._close:hover {
  opacity: .6;
}
.dialog ._container {
  padding: 25px 30px;
}

.dialogContents {
  display: none;
}
.inputText {
  padding: 0;
  border-radius: 3px;
  border: none;
  font-family: inherit;
  font-size: 13px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

/* layout
   ========================================================================== */
.fieldset {
  position: relative;
  padding: 30px 0 30px 130px;
  border-top: 1px solid #EEE;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.fieldset:after {
  content: "";
  display: table;
  clear: both;
}
.fieldset.-borderNone {
  border-top: none;
}

.fieldName {
  display: inline-block;
  position: absolute;
  left: 0;
  width: 130px;
  color: #005897;
  font-size: 14px;
  font-weight: bold;
}

.field {
  display: block;
}
.field.-aligned {
  float: left;
  width: 50%;
}
.field.-aligned .itemName:empty {
  height: 1rem;
  margin-bottom: 10px;
}

.formLayout {
  letter-spacing: -.4em;
}
.formLayout + .formLayout {
  margin-top: 15px;
}
.formLayout .itemName {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  letter-spacing: normal;
}
.formLayout .item {
  position: relative;
  letter-spacing: normal;
}
.formLayout .inputPipe {
  display: inline-block;
  padding-right: 7px;
  padding-left: 7px;
}
.formLayout.-aligned .itemName {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  letter-spacing: normal;
}
.formLayout.-aligned .item {
  display: inline-block;
  letter-spacing: normal;
  vertical-align: middle;
}
.formLayout.-aligned .item.-block {
  display: block;
}
.formLayout.-alignedMulti:after {
  content: "";
  display: table;
  clear: both;
}
.formLayout.-alignedMulti .itemName {
  display: block;
  float: left;
  margin-bottom: 0;
  font-weight: normal;
}
.formLayout.-alignedMulti .item {
  overflow: hidden;
}
.formLayout + p {
  margin-top: 15px;
}

.formLayout.-aligned .itemName,
.formLayout.-alignedMulti .itemName {
  width: 65px;
}
.formLayout.-aligned .itemName.-sizeL,
.formLayout.-alignedMulti .itemName.-sizeL {
  width: 100px;
}
.formLayout.-aligned .itemName.-sizeLL,
.formLayout.-alignedMulti .itemName.-sizeLL {
  width: 145px;
}

/* input type="text", textarea
   ========================================================================== */
.inputText {
  width: 360px;
  padding: 9px 17px;
  border: 1px solid #CCC;
  background: #FAFAFA;
  -webkit-box-shadow: 0 1px 1px 0 #e8e8e8 inset;
  box-shadow: 0 1px 1px 0 #e8e8e8 inset;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: middle;
}
.inputText.-sizeL {
  width: 594px;
}
.inputText.-sizeM {
  width: 215px;
}
.inputText.-sizeS {
  width: 90px;
  text-align: center;
}
.inputText.-sizeFull {
  width: 100%;
}
.inputText.-error {
  background: #ffe2e2;
}

/* tooltip */
.inputText ~ .tooltip {
  width: 380px;
}

.inputText:focus ~ .tooltip,
.inputText.focus ~ .tooltip {
  display: block;
  position: absolute;
  bottom: 115%;
  left: 0;
  margin-left: -10px;
  text-align: center;
}

.inputText.-sizeL:focus ~ .tooltip {
  left: 215px;
  margin-left: 0;
}

.inputText.-sizeFull:focus ~ .tooltip {
  left: auto;
  right: 0;
  margin-left: 0;
  text-align: center;
}

.table .textContener .inputText.-sizeL {
  width: 564px;
}

.errorText {
  position: relative;
  width: 340px;
  padding-left: 25px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #ea1515;
}
.errorText:before {
  display: inline-block;
  position: absolute;
  top: 3px;
  left: 0;
  background-image: url(../img/subs_parts.png);
  background-position: 0px -54px;
  width: 17px;
  height: 15px;
  content: "";
}

.inputText.-sizeL ~ .errorText {
  width: 594px;
}

/* input type="radio"
   ========================================================================== */
.radio {
  position: absolute;
  opacity: 0;
}
.radio + .radioLabel {
  display: block;
  margin-left: 1.5em;
  text-indent: -1.5em;
  cursor: pointer;
}
.radio + .radioLabel:before {
  display: inline-block;
  margin-right: 5px;
  background-image: url(../img/subs_parts.png);
  background-position: 0px -79px;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  content: "";
}
.radio:disabled + .radioLabel, .radio.disabled + .radioLabel {
  opacity: 0.3;
  cursor: auto;
}
.radio:checked + .radioLabel:before {
  background-position: 0px -109px;
}

.topRadio {
  position: absolute;
  opacity: 0;
}
.topRadio + ._radioLabel {
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
  letter-spacing: -0.4em;
}
.topRadio + ._radioLabel ._banner {
  display: inline-block;
  width: 180px;
  margin-left: 5px;
  margin-right: 10px;
  letter-spacing: normal;
  vertical-align: middle;
}
.topRadio + ._radioLabel ._banner img {
  opacity: 0.3;
}
.topRadio + ._radioLabel ._text {
  display: inline-block;
  letter-spacing: normal;
  vertical-align: middle;
}
.topRadio + ._radioLabel .label {
  margin-bottom: 5px;
}
.topRadio + ._radioLabel:before {
  display: inline-block;
  margin-right: 5px;
  background-image: url(../img/subs_parts.png);
  background-position: 0px -79px;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  content: "";
}
.topRadio:checked + ._radioLabel {
  opacity: 1;
}
.topRadio:checked + ._radioLabel:before {
  background-position: 0px -109px;
}
.topRadio:checked + ._radioLabel ._banner img {
  opacity: 1;
}

/* select
   ========================================================================== */
select {
  -moz-appearance: none;
}

select::-ms-expand {
  display: none;
}

.selectArea {
  display: inline-block;
  width: 120px;
  height: 32px;
  overflow: hidden;
}
.selectArea .select {
  display: inline-block;
  width: 120px;
  height: 32px;
  padding-left: 17px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #FAFAFA;
  background-image: url(../img/select.png);
  background-position: 100% 50%;
  background-repeat: no-repeat;
  font-size: 13px;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

@-moz-document url-prefix() {
  .selectArea {
    width: 120px;
    border-radius: 5px;
  }
  .selectArea .select {
    width: 130%;
    background-position: 88px 50%;
    text-indent: .01px;
    text-overflow: "";
  }
}
.ie9 .selectArea {
  width: 120px;
  border-radius: 5px;
}
.ie9 .selectArea .select {
  width: 130%;
  background-position: 88px 50%;
  text-indent: .01px;
  text-overflow: "";
}
/* grid
   ========================================================================== */
.grid {
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  display: -ms-flexbox;
  -ms-flex-flow: row wrap;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  letter-spacing: -.4em;
  text-rendering: optimizespeed;
}
.grid.-sizeFull {
  margin-right: -10px;
  margin-left: -10px;
}

._gridItem {
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
  zoom: 1;
}
._gridItem.-hasGutter {
  padding-right: 10px;
  padding-left: 10px;
}
._gridItem.-g_12_12 {
  width: 100%;
}
._gridItem.-g_9_12 {
  width: 75%;
}
._gridItem.-g_8_12 {
  width: 66.66667%;
}
._gridItem.-g_6_12 {
  width: 50%;
}
._gridItem.-g_4_12 {
  width: 33.33333%;
}
._gridItem.-g_3_12 {
  width: 25%;
}
._gridItem.-g_2_12 {
  width: 16.66667%;
}
._gridItem.-g_1_12 {
  width: 8.33333%;
}
/* table
   ========================================================================== */
.table {
  width: 100%;
  border-bottom: 1px solid #CCC;
  border-collapse: separate;
  table-layout: fixed;
  word-break: break-all;
}
.table thead {
  background: #E6F4FF;
}
.table thead th {
  height: 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: middle;
}
.table thead th:nth-of-type(1) {
  padding-left: 30px;
  text-align: left;
}
.table tbody tr + tr {
  /* autoprefixer: off */
  background-image: -moz-linear-gradient(left, #cccccc, #cccccc 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 100%);
  background-image: -ms-linear-gradient(left, #cccccc, #cccccc 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 100%);
  background-image: -webkit-linear-gradient(left, #CCC, #CCC 50%, transparent 50%, transparent 100%);
  /* autoprefixer: on */
  background-image: linear-gradient(left, #cccccc, #cccccc 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 100%);
  background-position: 0 0;
  background-repeat: repeat-x;
  background-size: 4px 1px;
}
.table tbody td {
  padding-right: 5px;
  padding-left: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: middle;
  text-align: center;
}
.table tbody td:first-of-type {
  padding: 18px 30px 12px;
  text-align: left;
}

.no-cssgradients .table tbody tr + tr {
  border-top: 1px dotted #ccc;
}

.table .-pricing th:nth-of-type(1),
.table .-pricing td:nth-of-type(1) {
  width: 330px;
}
.table .-sizeL th:nth-of-type(1),
.table .-sizeL td:nth-of-type(1) {
  width: 380px;
}
.table .-sizeM th:nth-of-type(1),
.table .-sizeM td:nth-of-type(1) {
  width: 240px;
}
.table .-sizeS th:nth-of-type(1),
.table .-sizeS td:nth-of-type(1) {
  width: 190px;
}
.table .-sizeFull th:nth-of-type(1),
.table .-sizeFull td:nth-of-type(1) {
  padding: 18px 0 12px;
}
.table .-disabled {
  margin-top: -1px;
  margin-bottom: -1px;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  background: #eeeeee;
  color: #999;
}
.table .-borderNone {
  border-top: none !important;
  background-image: none !important;
}

/* callout
   ========================================================================== */
.callout {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 23px;
  padding-right: 23px;
  border-radius: 5px;
  background: #EEE;
  overflow: hidden;
}
.callout > p, .callout > div {
  margin-top: 10px;
  margin-bottom: 10px;
}
.callout ul {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
  list-style-type: none;
}
.callout.-error {
  border: 1px solid #E91514;
  border-radius: 0;
  background: #FFE9EB;
  color: #ea1515;
}
.callout.-error li {
  padding-left: 13px;
  font-weight: bold;
}
.callout.-error li:before {
  display: inline-block;
  position: relative;
  top: 3px;
  margin-right: 5px;
  margin-left: -20px;
  background-image: url(../img/subs_parts.png);
  background-position: 0px -54px;
  width: 17px;
  height: 15px;
  content: "";
}
.callout.-error li + li {
  margin-top: 5px;
}

/* textContener
   ========================================================================== */
.textContener {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.textContener.-size600 {
  width: 600px;
}
.textContener.-sizeFlow3 {
  width: 440px;
}
.textContener.-sizeInput {
  width: 360px;
}
.textContener.-aster {
  position: relative;
  padding-left: 1.4em;
}
.textContener.-aster:before {
  position: absolute;
  left: 0;
  content: "※";
}
.textContener.-label {
  padding-left: 27px;
}

/* textConfimArea
   ========================================================================== */
.textConfimArea {
  width: 600px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #E6F4FF;
}
.textConfimArea:after {
  content: "";
  display: table;
  clear: both;
}
.textConfimArea ._name {
  display: block;
  float: left;
  height: 100%;
  padding: 10px 13px;
  text-align: center;
  vertical-align: middle;
}
.textConfimArea ._contents {
  display: block;
  padding: 10px 13px;
  border-left: 1px solid #ccc;
  background: #FFF;
  overflow: hidden;
}

/* panel
   ========================================================================== */
.panel {
  border: 3px solid #eee;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* tooltip
   ========================================================================== */
.tooltip {
  display: none;
  position: absolute;
  width: 445px;
  padding: 9px 17px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
  color: #FFF;
}
.tooltip:after {
  display: block;
  position: absolute;
  bottom: -12px;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -9px;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 12px solid #000;
  border-top: 12px solid rgba(0, 0, 0, 0.8);
  content: "";
}
.tooltip a {
  color: inherit;
}

.position .tooltip {
  bottom: 3em;
}

.button4 + .tooltip {
  margin-left: -210px;
}

/* headline
   ========================================================================== */
.headline1 {
  margin-top: 50px;
  margin-bottom: 45px;
  color: #005897;
  font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}
.headline1.-hasLogo {
  margin-top: 18px;
  margin-bottom: 40px;
  padding-top: 44px;
  background-image: url(http://placehold.it/239x44);
  background-position: 50% 0;
  background-repeat: no-repeat;
}
.headline1 a {
  text-decoration: none;
}

.headline2 {
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 18px;
  text-align: center;
}

.headline3 {
  margin-top: 25px;
  margin-bottom: 25px;
  padding-bottom: 3px;
  border-bottom: 1px solid #005897;
  color: #005897;
  font-size: 16px;
}

.headline4 {
  margin-top: 30px;
  font-weight: bold;
}

/* fontStyle
   ========================================================================== */
.-fontSize16 {
  font-size: 16px !important;
}

.-fontSize14 {
  font-size: 14px !important;
}

.-fontSize13 {
  font-size: 13px !important;
}

.-fontSize12 {
  font-size: 12px !important;
}

.-fontSize11 {
  font-size: 11px !important;
}

.-fontWB {
  font-weight: bold !important;
}

.-fontWN {
  font-weight: normal !important;
}

.-fontImportant {
  color: #ea1515 !important;
}

.-deleted {
  text-decoration: line-through;
}

.-indent0 {
  text-indent: 0;
}

.-verticalTop {
  vertical-align: middle;
}

.-left {
  text-align: left !important;
}

.-center {
  text-align: center !important;
}

.-right {
  text-align: right !important;
}

/* anchor
   ========================================================================== */
a.-external:after {
  display: inline-block;
  margin-left: 3px;
  background-image: url(../img/subs_parts.png);
  background-position: 0px -34px;
  width: 13px;
  height: 10px;
  vertical-align: 2px;
  content: "";
}

/* label
   ========================================================================== */
.label {
  display: inline-block;
  padding: 0 5px;
  border: 2px solid;
  font-weight: bold;
  text-align: center;
}
.label.-important {
  border: 2px solid #ea1515;
  color: #ea1515;
}
.label.-subscriptionStatus {
  padding: 0;
  border-radius: 3px;
  border: none;
  border: 1px solid #eeeeee;
  background: #fff;
  color: #ed3434;
  font-family: inherit;
  font-size: 14px;
  line-height: 3.14286;
}
.label.-secondly {
  padding: 2px 8px;
  border: none;
  border-radius: 3px;
  background: #CCC;
  color: #666;
  font-size: 12px;
  font-weight: normal;
}
.label.-alert {
  border: none;
  background: #ea1515;
  color: #FFF;
}
.label.-sizeFull {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.label + .label {
  margin-top: 2px;
}

/* horizen
   ========================================================================== */
.horizen {
  height: 0;
  border: none;
  border-top: 1px solid #ccc;
}
.horizen.-dotted {
  border-top: 1px dotted #ccc;
}
/* margin
   ========================================================================== */
.-m_10 {
  margin: 10px !important;
}

.-mt_0 {
  margin-top: 0 !important;
}

.-mt_10 {
  margin-top: 10px !important;
}

.-mt_20 {
  margin-top: 20px !important;
}

.-mt_30 {
  margin-top: 30px !important;
}

.-mt_40 {
  margin-top: 40px !important;
}

.-mt_50 {
  margin-top: 50px !important;
}

.-mt_70 {
  margin-top: 70px !important;
}

.-mb_0 {
  margin-bottom: 0 !important;
}

.-mb_10 {
  margin-bottom: 10px !important;
}

.-mb_20 {
  margin-bottom: 20px !important;
}

.-mb_30 {
  margin-bottom: 30px !important;
}

.-mb_70 {
  margin-bottom: 70px !important;
}

.-mr_0 {
  margin-right: 0 !important;
}

.-mr_10 {
  margin-right: 10px !important;
}

.-mr_30 {
  margin-right: 30px !important;
}

.-ml_0 {
  margin-left: 0 !important;
}

.-ml_10 {
  margin-left: 10px !important;
}

.-ml_30 {
  margin-left: 30px !important;
}

/* pading
   ========================================================================== */
.-p_10 {
  padding: 10px !important;
}

.-p_15 {
  padding: 15px !important;
}

.-pt_0 {
  padding-top: 0 !important;
}

.-pt_10 {
  padding-top: 10px !important;
}

.-pt_20 {
  padding-top: 20px !important;
}

.-pt_30 {
  padding-top: 30px !important;
}

.-pt_40 {
  padding-top: 40px !important;
}

.-pb_0 {
  padding-bottom: 0 !important;
}

.-pb_10 {
  padding-bottom: 10px !important;
}

.-pb_20 {
  padding-bottom: 20px !important;
}

.-pb_30 {
  padding-bottom: 30px !important;
}

.-pr_0 {
  padding-right: 0 !important;
}

.-pr_10 {
  padding-right: 10px !important;
}

.-pr_30 {
  padding-right: 30px !important;
}

.-pl_0 {
  padding-left: 0 !important;
}

.-pl_10 {
  padding-left: 10px !important;
}

.-pl_30 {
  padding-left: 30px !important;
}

/* hide
   ========================================================================== */
.-hide {
  display: none;
}

.-block {
  display: block;
}

.-inlineBlock {
  display: inline-block;
}

.-visible {
  visibility: visible;
}

.-invisible {
  visibility: hidden;
}

/* clearfix
   ========================================================================== */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* position
   ========================================================================== */
.position {
  position: relative;
}
.position .-bottom_0 {
  position: absolute;
  bottom: 0;
}
.position .-bottom_15 {
  position: absolute;
  bottom: 15px;
}
